extends templates/template
append config
  -paginaActual = "clientes"
  -titulo = "Clientes"
block banner
  img(src="img/clientes.jpg")
block main
  h1 Clientes
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!