extends templates/template

//- Append permite añadir contenido al final de un bloque
append config
  -paginaActual = "nosotros"
  -titulo = "Nosotros"

block banner
  img(src="img/nosotros.jpg")
block main
  h1 Nosotros
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!