extends templates/template
append config
  -paginaActual = "servicios"
  -titulo = "Servicios"

block banner
  img(src="img/servicios.jpg")
block main
  h1 Servicios
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!