
* {
    box-sizing: border-box;
  }

.box1 {
  width: 400px;
  height: 200px;
  background: yellow;
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box;
}

.box2-container {
  background: yellow;
  width: 500px;
}

.box2 {
  border: 1px solid black;
  width: 50%;
  padding-top: 10%;
}